<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right">
      <!-- THIS IS WHERE THE TEMPLATE ARE INSERTED INTO THE DOM-->
    </ion-nav-view>

  </ion-pane>

  <ion-side-menu side="left">

    <ion-content>
    <div class="page-sidebar">
      <div class="page-sidebar-wrapper">
        <div class="user-info-wrapper">
    			<div class="profile-wrapper">
    				<img src="img/profiles/avatar.jpg" alt=""
    					data-src="img/profiles/avatar.jpg"
    					data-src-retina="img/profiles/avatar2x.jpg" width="69" height="69" />
    			</div>
    			<div class="user-info">
    				<div class="greeting">Welcome</div>
    				<div class="username">Jane <span class="semi-bold">Smith </span></div>
    				<div class="status">
    					Status<a href="#"><div class="status-icon green"></div>Online</a>
    				</div>
    			</div>
    		</div>


        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">
           BROWSE
        </p>
        <ul class="sidebar-menu">
           <li>
             <a nav-clear menu-close href="#/app/dashboard" class="level-1-link">
              <i class="icon-custom-home"></i><span class="title">Dashboard</span>
              </a>
           </li>
            <li>
                <a nav-clear menu-close href="#/app/patient_roster" class="level-1-link">
                    <i class="fa fa-folder-open"></i><span class="title">Patient Roster</span>
                </a>
            </li>

           <li>
             <a nav-clear menu-close href="#/app/journals" class="level-1-link">
               <i class="icon-custom-portlets"></i><span class="title ">My Journal</span>
             </a>
           </li>

           <li>
            <a ng-click="showMenu('my-tracker')">
              <i class="fa fa-location-arrow"></i> <span class="title">My Tracker</span> <span class="arrow"></span>
            </a>
            <ul class="sub-menu" ng-show="menuName === 'my-tracker'">
             <li><a nav-clear menu-close href="#/app/tracker" class="level-2-link">Tracker </a></li>
             <li><a nav-clear menu-close href="#/app/charts" class="level-2-link"> Charts &amp Stats</a></li>
             <li><a nav-clear menu-close href="#/app/history" class="level-2-link">History</a></li>
            </ul>
           </li>

           <li>
            <a ng-click="showMenu('virtual-doula')">
              <i class="fa fa-user-md"></i> <span class="title">Virtual Doula</span><span class="arrow "></span>
            </a>
            <ul class="sub-menu" ng-show="menuName === 'virtual-doula'">
             <li><a nav-clear menu-close href="#/app/otc-medication" class="level-2-link">OTC Medication</a></li>
             <li><a nav-clear menu-close href="#/app/complications" class="level-2-link">Complications</a></li>
             <li><a nav-clear menu-close href="#/app/helpful-links" class="level-2-link">Helpful Links</a></li>
            </ul>
           </li>
            <li><a nav-clear menu-close href="" class="level-1-link" ng-click="addInteractiveEvent()">
    <i class="fa fa-calendar"></i><span class="title ">Calendar</span>
</a></li>
           <li>
            <a ng-click="showMenu('galleries')">
              <i class="fa fa-picture-o"></i> <span class="title">My Photos</span><span class="arrow "></span>
            </a>
            <ul class="sub-menu" ng-show="menuName === 'galleries'">
             <li><a nav-clear menu-close href="#/app/galleries" class="level-2-link">Galleries</a></li>
             <li><a nav-clear menu-close href="#/app/galleries-manage" class="level-2-link">Manage Galleries</a></li>
            </ul>
           </li>

           <li>
            <a nav-clear menu-close href="#/app/nearby-hospitals" class="level-1-link">
              <i class="icon-custom-map"></i> <span class="title">Nearby Hospitals</span>
            </a>
           </li>

           <li>
              <a ng-click="showMenu('about')">
                <i class="fa fa-wrench"></i> <span class="title">About</span><span class="arrow "></span>
              </a>
              <ul class="sub-menu" ng-show="menuName === 'about'">
               <li><a nav-clear menu-close href="#/app/profile" class="level-2-link">My Profile</a></li>
              </ul>
           </li>

           <li>
              <a nav-clear menu-close href="#/app/notifications" class="level-1-link">
                <i class="icon ion-email"></i>Notifications
                <span ng-show="notifications>0" class="badge badge-assertive">{{notifications}}</span>
              </a>
           </li>

        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
      <!-- END SIDEBAR MENU -->

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
