<ion-view title="DoulaRoom">
  <ion-content class="has-header" padding="true">
    <h3 style="padding:10px;margin:0;">Charts &amp; Stats</h3>

    <div style="margin:10px;background-color:#fff;">

      </div>
    </div>

  </ion-content>
</ion-view>
