<ion-view title="Doula Room">
    <ion-content class="has-header">
    
    <script>
        window.sessionStorage.setItem("username", "");
        //window.sessionStorage.setItem("password", "");
        window.sessionStorage.setItem("role", "");
        window.sessionStorage.setItem("loggedIn", false);
    </script>
    <div class="container">
        <div ng-controller= "LoginCtrl">
                <div class="row login-container column-seperation">  
                <div class="col-md-5 col-md-offset-1">
                  <h2>Sign in</h2>
                  <!--<p>Use Facebook, Twitter or your email to sign in.<br>
                    <a href="login.html#">Sign up Now!</a> for a MaternApp account,It's free and always will be..</p>
                  <br>

                   <button class="btn btn-block btn-info col-md-8" type="button">
                    <span class="pull-left"><i class="icon-facebook"></i></span>
                    <span class="bold">Login with Facebook</span> </button>
                   <button class="btn btn-block btn-success col-md-8" type="button">
                    <span class="pull-left"><i class="icon-twitter"></i></span>
                    <span class="bold">Login with Twitter</span>
                    </button>-->
                </div>
                <div class="col-md-5 "> <br>
<!--                 <form class = "form" name ="loginForm" novalidate>-->
                 <div class="row">
                 <div class="form-group col-md-10">
                    <label class="form-label">Username</label>
                    <div class="controls">
                        <div class="input-with-icon  right">                                       
                            <i class=""></i>
                            <input type="email" name="username" id="username" class="form-control" ng-model="username">                                    
                        </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-10">
                    <label class="form-label">Password</label>
                    <span class="help"></span>
                    <div class="controls">
                        <div class="input-with-icon  right">                                       
                            <i class=""></i>
                            <input type="password" name="password" id="password" class="form-control" ng-model="password">                                               <div id = "passwordError">
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="control-group  col-md-10">
                    <!--<div class="checkbox checkbox check-success"> <a href="login.html#">Trouble login in?</a>&nbsp;&nbsp;
                      <input type="checkbox" id="checkbox1" value="1">
                      <label for="checkbox1">Keep me reminded </label>
                    </div>-->
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10">
                      <button class="btn btn-primary btn-cons pull-right" type="submit" ng-click="loadLogin()" >Login</button>
                        <!--<input type = "submit" ng-click="loadLogin()" value = "Submit">-->
                    </div>
                  </div>
                  <!--</form>-->
                </div>
          </div>
        </div>

    </div>
      
   </ion-content>
</ion-view>