


<ion-view title="Patients Roster">

    <!--
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-content class="has-header">

 <div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <h4>Patient <span class="semi-bold">Roster</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="datatables.html#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            
            <div class="grid-body ">
              <table class="table table-striped" id="example2" >
                <thead>
                  <tr>
                    <th>PATIENT</th>
                    <th>WEEK GESTATION</th>
                    <th>WEIGHT</th>
                    <th>BLOOD PRESSURE</th> 
                    <th>FETAL MOVEMENT</th>
                    <th>FETAL HEART-RATE</th>   
                    <th>WATER INTAKE</th>  
                    <th>VITAMINS</th>    
                    <th>ACTIVITY STEPS</th>  
                    <th>HIGH RISK</th>  
                    <th>COMMENT</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patient in physiciansPatientData" item="patient">
                        <td> {{patient.PATIENT_NAME}} </td>
                        <td> {{patient.WEEK_GESTATION}}  </td>
                        <td> {{patient.WEIGHT}}  </td>
                        <td> {{patient.BLOOD_PRESSURE}} </td>
                        <td> {{patient.FETAL_MOVEMENT}} </td>
                        <td> {{patientFETAL_HEART_RATE}} </td>
                        <td> {{patient.WATER_INTAKE}} </td>
                        <td> <a href="#/app/vitamins_intake/{{patient.PATIENTID}}" ng-model="navigate_url">{{patient.VITAMINS}} </a>  </td>
                        <td> {{patient.ACTIVITY_STEPS}} </td>
                        <td> {{patient.HIGH_RISK}} </td>
                        <td> {{patient.COMMENT}} &nbsp; Comments </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </ion-content>
</ion-view>

