


<ion-view title="Patients Vitamins">

    <!--
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-content class="has-header">


               


 <div class="row-fluid">
        <div class="span12">
          <div class="grid simple ">
            <div class="grid-title">
              <h4>Patient <span class="semi-bold">Roster</span></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="datatables.html#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            
            <div class="grid-body ">
              <table class="table table-striped" id="example2" ng-controller="vitamins_intakeCtrl">
                <thead>
                  <tr>
                    <th>DAYS</th>
                    <th>PRENATAL</th>
                    <th>FOLIC ACID</th>
                    <th>IRON</th>  
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="patientVitamins in patientVitaminsData" item="patientVitamins" >
                       <td> {{patientVitamins.TIME_RECORDED }} </td>
                        <td><input type="checkbox" id="prenatal" class="center" ng-model="checkboxChecked" ng-true-value="{{patientVitamins.PRENATAL}}"  ></td>
                        <td><input type="checkbox" id="folicacid" class="center"  ng-model="checkboxChecked" ng-true-value="{{patientVitamins.FOLICACID}}" ></td>
                        <td><input type="checkbox" id="iron" class="center" ng-model="checkboxChecked" ng-true-value="{{patientVitamins.IRON}}"  ></td>       
                    </tr>
                </tbody>
              </table> 
            </div>
          </div>
        </div>
      </div>


    </ion-content>
</ion-view>

