


<ion-view title="Patients Vitamins">

    <!--
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    -->

    <ion-content class="has-header">


               


 <div class="page-container row-fluid">
  <!-- BEGIN SIDEBAR -->
  <% include sidebar %>
  <!-- END SIDEBAR -->
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
  
    <div class="content">
      
          <script type="text/javascript" language="javascript">
          
            var dailyWeightPlots = [];
            //var plotPoint = [];
            var xaxisDayPosition = [10, 20, 30, 40, 50, 60, 70];
          
          </script>
        
        <% var count=0; for(var i=0, len=test_results.length; i < len; i++){ count += 1; %>
      
        <script type="text/javascript" language="javascript">
        
          var weightDate = new Date("<%= test_results[i].TIME_RECORDED %>");
          var dayOfWeek = weightDate.getDay();
          var weightDifference = ( Number(<%= test_results[i].RESULT %>) - Number(<%= patientsData[0].WEIGHT %>) );
          var plotPoint = [xaxisDayPosition[dayOfWeek], weightDifference ];
          dailyWeightPlots.push(plotPoint);         
          plotPoint = [];
          weightDifference = 0;
          
          //alert("Day of Week: " + dayOfWeek + " Date: [ <%= test_results[i].TIME_RECORDED %> ]");
          
        </script>
          
        
        <% } %> 
    
      <!-- TemplateEndEditable -->        
    </div>
  
  
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>Widget Settings</h3>
      </div>
      <div class="modal-body">Widget settings form goes here</div>
    </div>
    <div class="clearfix"></div>

  
    <link rel="stylesheet"
      href="/plugins/jquery-morris-chart/css/morris.css" type="text/css"
      media="screen">

    <div class="content">
      <!-- TemplateBeginEditable name="pageContent" -->
      
    <div class="row">

             <div class="col-md-5">
                    <div class="grid simple">
           
                        <div class="grid-body no-border">
                            <h3>Weight <span class="semi-bold">Chart</span> | Trimester <span id="currentTrimester"></span> </h3>
                            <p>Showing the trend in weight gained or lossed.</p>
                            <br>
                            <div id="placeholder" class="demo-placeholder" style="width:100%;height:250px;"></div>
                            
                        </div>
                    </div>
                </div>
            <!--</div> -->
        </div> 
        
      </div>
      <!-- TemplateEndEditable -->


    </div>
  </div>
</div>
<!-- END CONTAINER -->
<% include corejs %>
<script src="/js/raphael-min.js"></script>
<script src="/plugins/jquery-morris-chart/js/morris.min.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.time.min.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.selection.min.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.animator.min.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.orderBars.js"></script>
<script src="/plugins/jquery-flot/jquery.flot.axislabels.js"></script>

<script src="/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js"></script>

<!-- Making reference to the Calculations class-->
<script src="/js/calculations.js" type="text/javascript"></script>

<script src="/js/lodash.js" type="text/javascript"></script>
<script src="/js/moment.min.js" type="text/javascript"></script>

<script type="text/javascript">                   
          
          var pregnancyTrimester = Calculations.getTrimester(new Date(), "<%= patientsData[0].LAST_MEN_CYCLE %>");
          //$("#currentTrimester").html("" + pregnancyTrimester);
          
          //var pregnancyTrimester = 1;
          var expectedWeight = 0;
          if( (pregnancyTrimester > 0 ) && (pregnancyTrimester < 2 ) )
          {
            expectedWeight = 4.5;
          }
          else if( (pregnancyTrimester > 1 ) && (pregnancyTrimester < 3 ) )
             {
               expectedWeight = 2;
             }
             else if( (pregnancyTrimester > 2 ) && (pregnancyTrimester < 4 ) )
                {
                  expectedWeight = 2;
                }
                else
                   {
                  expectedWeight = 0;
                 }
                            
              
          
          
          
            
          </script>

<script>
  
  $(document).ready(function() {  

    
      var expectedWeightLine = [ [1, expectedWeight],[80, expectedWeight]];                   

          var plot = $.plotAnimator($("#placeholder"), [          
              { 
                label: "Actual Weight",
                data: dailyWeightPlots,
                animator: {steps: 60, duration: 1000, start:0},
                lines: {lineWidth:2},
                shadowSize:0,
                color: '#f35958'
              },{
                data: dailyWeightPlots,
                points: { show: true, fill: true, radius:6,fillColor:"#f35958",lineWidth:3 },
                color: '#fff',
                shadowSize:0
              },
              {   label: "Expected Weight",
                data: expectedWeightLine,
                lines:
                {
                  
                  lineWidth: 1                  
                },
                color:['#00FF00'] //Expected Weight label color  [ GREY = #C0C0C0 ]
              },
              
              { 
                data: expectedWeightLine,
                points: { show: false, fill: false, radius:6,fillColor:"#f5a6a6",lineWidth:3 },
                color: '#00FF00', // //Expected Weigh line color
                shadowSize:0
              }
            ],
            {
              xaxis: {
                tickLength: 0,
                tickDecimals: 0,
                //tickSize: [1, "month"],
                min:2,
                max:80,
                ticks: [
                  [10, "Sunday"],
                  [20, "Monday"],
                  [30, "Tuesday"],
                  [40, "Wednesday"],
                  [50, "Thursday"],
                  [60, "Friday"],
                  [70, "Saturday"]
                ],
                tickLength: 0,
                axisLabel: "Days",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5,
                font :{
                  lineHeight: 13,
                  style: "normal",
                  weight: "bold",
                  family: "sans-serif",
                  variant: "small-caps",
                  color: "#6F7B8A"
                }
              },
              yaxis: {
                ticks: 3,
                axisLabel: "Pounds(lbs)",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
                axisLabelPadding: 5,
                        tickDecimals: 0,
                tickColor: "#f0f0f0",
                font :{
                  lineHeight: 13,
                  style: "normal",
                  weight: "bold",
                  family: "sans-serif",
                  variant: "small-caps",
                  color: "#6F7B8A"
                }
              },
              grid: {
                backgroundColor: { colors: [ "#fff", "#fff" ] },
                borderWidth:1,borderColor:"#f0f0f0",
                margin:0,
                minBorderMargin:0,
                labelMargin:20,
                hoverable: true,
                clickable: true,
                mouseActiveRadius:6
              },
              legend: { show: true}
            });


          $("#placeholder").bind("plothover", function (event, pos, item) {
                if (item) {
                  var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                  $("#tooltip").html(item.series.label + " of " + x + " = " + y)
                    .css({top: item.pageY+5, left: item.pageX+5})
                    .fadeIn(200);
                } else {
                  $("#tooltip").hide();
                }

            });

          $("<div id='tooltip'></div>").css({
              position: "absolute",
              display: "none",
              border: "1px solid #fdd",
              padding: "2px",
              "background-color": "#fee",
              "z-index":"99999",
              opacity: 0.80
  }).appendTo("body");


  
});
  
  
    $('body').removeClass('error-body no-top lazy');
    $('#pagePort').removeClass('container');

    $('.header').show();
    //$('#main-menu-toggle-wrapper').show();
    $('.footer-widget').show();
    $('#main-menu').show();

</script>





    </ion-content>
</ion-view>

