<div class="modal">
  <ion-header-bar>
    <h3 class="title">Enter Weight Information for Today</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="bloodPressureModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Enter sistolic readings</span>
        <input type="text" ng-model="bloodPressure.sistolic" style="border: 0 none;">
      </label>
      <label class="item item-input">
        <span class="input-label">Enter diastolic readings</span>
        <input type="text" ng-model="bloodPressure.diastolic" style="border: 0 none;">
      </label>
      <label class="item item-input">
        <span class="input-label">Enter heart rate</span>
        <input type="number" ng-model="heartRate.RESULT" style="border: 0 none;">
      </label>
      <label class="item">
        <button class="btn button-block btn-primary" ng-click="addBloodPressure()">Add</button>
      </label>
    </div>
  </ion-content>
</div>
