<div class="modal" style="margin-top:35px;">
  <ion-header-bar>
    <h3 class="title">Enter Weight Information for Today</h3>
    <div class="buttons">
      <button class="button button-clear" ng-click="weightModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Weight (lbs)</span>
        <input type="number" ng-model="newWeight.RESULT" style="border: 0 none;">
      </label>
      <label class="item">
        <button class="btn button-block btn-primary" ng-click="addWeight()">Add</button>
      </label>
    </div>
  </ion-content>
</div>
